th{
    padding: .5rem;
    width: 10rem;
    border-bottom: 2px solid black;
}
tr{
    display: flex;
    margin: 0 3rem;
}

td{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 10rem;
    padding: .5rem;
    /* border-width: 4px; */
    border-color: black;
    border-radius: 50%;
}