@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  /* background: linear-gradient(135deg, hsla(290, 100%, 80%, 1) 33%, hsla(0, 0%, 100%, 1) 88%); */
  background: radial-gradient(circle, hsla(290, 100%, 80%, 1) 34%, hsla(0, 0%, 100%, 1) 100%);
}
@font-face {
  font-family: 'Genjiro';
  src: url(/Genjiro-JRymx.otf);
}
@font-face {
  font-family: 'Ukiyo';
  src: url(/UkiyoMindDemoRegular-WylvY.otf);
}
@font-face {
  font-family: 'Hitto';
  src: url(/HittoSushi-p7XMO.otf);
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E0E7FF;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1463F3;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CCD0D8;
}